<h1>Sellers#index</h1>
<p>Find me in app/views/sellers/index.html.erb</p>
<% if user_signed_in? %>
  <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
<%end%>