<!-- app/views/home/index.html.erb -->
<h1>Welcome to the Home Page</h1>
<p>This is the homepage.</p>
<% if user_signed_in? %>
  <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
<%end%>